# Ignore compiled code
*.o
*.so
*.d

# Don't commit the main executable
runBabyMaker

# Ignore screen files
.display.screen

# Ignore linkDef stuff
LinkDef.cc
LinkDef_out.*
*rdict.pcm

## Bobak Specific
test_sample_files

#Sublime Files
*.sublime*

#Batch Files
batch/forCondor_stopBabyMaker_74x
